@model ConsultarClientesViewModel

<div class="card mb-12">
     <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="FormTitle col-12">Consulta de Clientes</h5>
    </div>
     <div class="card-body">
        <form asp-action="index" asp-controller="clientes">
            <div class="row form-horizontal">
              <div class="col-4 col-xs-12 mb-3">
                    <label asp-for="Cpf" class="control-label">CPF</label>
                    <input asp-for="Cpf" class="form-control" />
                </div>

                 <div class="col-8 col-xs-12 mb-3">
                    <label asp-for="Nome" class="control-label">NOME</label>
                    <input asp-for="Nome" class="form-control" />
                </div>
                <div class="col-12 col-xs-12">
                    <div class="linhaSolida"></div>
                </div>
                <div class="col-12 mb-3" style="text-align: right" >
                    <button type="submit" class="btn btn-primary">
                        <span class="tf-icons bx bx-search"></span>&nbsp; Buscar
                    </button>
                    <a asp-action="create" asp-controller="clientes" class="btn btn-secondary">
                        <span class="tf-icons bx bx-plus"></span>&nbsp; Novo
                    </a>                      
                    <a asp-action="" asp-controller="" class="btn btn-secondary">
                        <span class="tf-icons bx bx-arrow-back"></span>&nbsp; Voltar
                    </a>
                </div>
            </div>
        </form >
        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>
                            CPF
                        </th>
                        <th>
                            NOME
                        </th>
                        <th>
                            DATA NASCIMENTO
                        </th>
                        <th>
                            TELEFONE
                        </th>
                        <th>
                            AÇÕES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Clientes != null && Model.Clientes.Any())
                    {
                        @foreach (var item in Model.Clientes) 
                        {
                            <tr>
                                <td>
                                    @(string.IsNullOrEmpty(@item.Cpf) ? "" : Convert.ToUInt64(@item.Cpf).ToString(@"000\.000\.000\-00"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @(item.DataNascimento.HasValue ? @item.DataNascimento?.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                   @(string.IsNullOrEmpty(@item.Telefone) ? "" : Convert.ToUInt64(@item.Telefone).ToString(@"+## (##) #####-####"))
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="clientes" asp-route-id="@item.Id" class="btn btn-default">
                                        <span class="tf-icons bx bx-edit"></span>
                                    </a>     
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" style="text-align:center">
                                Nenhum resultado encontrado
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $(document).ready(function (){
            $('input[Name="@nameof(Model.Cpf)"]').mask('000.000.000-00');
            $('input[Name="@nameof(Model.Cpf)"]').attr("maxlenght", "14")

            if ('!@Model.AutoComplete') {
                $('input').attr('autocomplete', 'off');
            }
        });
    </script>
}
